@import url("https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
.about {
  padding-top: 7rem;
}

.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, #4db5ff, transparent);
  display: grid;
  place-items: center;
}
.about__me .about__me-img {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: all 400ms ease;
  width: 100%;
  aspect-ratio: 1/1;
}
.about__me .about__me-img:hover {
  transform: rotate(0);
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.about__cards .about__card {
  background-color: #2c2c6c;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid transparent;
  transition: all 400ms ease;
}
.about__cards .about__card h5 {
  font-size: 0.95rem;
}
.about__cards .about__card small {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.7rem;
}
.about__cards .about__card:hover {
  background-color: transparent;
  border-color: rgba(77, 181, 255, 0.4);
}
.about__cards .about__card .about__icon {
  color: #4db5ff;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about__content p {
    margin: 1rem 0 1.5rem;
  }
  .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }
  .about {
    padding-top: 1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }
  .about__content {
    text-align: center;
  }
  .about__content .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .about__content p {
    margin: 1.5rem 0;
  }
  .about {
    margin-top: 3rem;
  }
}
.contact__form-response {
  display: flex;
  padding: 0.5rem;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
  color: #4db5ff;
  font-size: 1rem;
  margin: 0 auto;
}

.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}
.contact__container form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact__container form input, .contact__container form textarea {
  width: 100%;
  background: transparent;
  border: 2px solid rgba(77, 181, 255, 0.4);
  padding: 1.5rem;
  border-radius: 0.5rem;
  resize: none;
  color: #fff;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  background: #2c2c6c;
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: all 400ms ease;
}
.contact__option:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
}
.contact__option .contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.contact__option h5 {
  color: rgba(255, 255, 255, 0.6);
}
.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

@media screen and (max-width: 1024px) {
  .contact__container {
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }
}
@media screen and (max-width: 600px) {
  .contact__container {
    width: 90%;
  }
}
footer {
  background-color: #4db5ff;
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}
footer a {
  color: #1f1f38;
}
footer .footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}
footer .permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 2rem;
}
footer .footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
footer .footer__socials a {
  color: #fff;
  background-color: #1f1f38;
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}
footer .footer__socials a:hover {
  background-color: transparent;
  color: #1f1f38;
  border-color: #1f1f38;
}
footer .footer__copyright {
  margin-bottom: 14rem;
  color: #1f1f38;
}

@media screen and (max-width: 600px) {
  footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .permalinks {
    flex-direction: column;
  }
  .footer__socials {
    margin-bottom: 2rem;
  }
}
header {
  height: 100vh;
  padding-top: 5rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header__container-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.header__container-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  height: 100%;
}
.header__container-left h5:first-child {
  font-family: "Passions Conflict", cursive;
  font-size: 4rem;
}

.scroll {
  font-size: 2rem;
  position: absolute;
  bottom: 2rem;
  right: -2.5rem;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.header__socials {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  gap: 0.8rem;
  bottom: 3rem;
  left: 0;
}
.header__socials a {
  border-radius: 0.5rem;
  width: 1.8rem;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
}
.header__socials a:hover {
  background-color: #4db5ff;
  transform: translateX(-0.5rem);
}
.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: #4db5ff;
}

.me {
  width: 22rem;
  height: 30rem;
  position: absolute;
  overflow: hidden;
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

@media screen and (max-width: 1024px) {
  .header__container-right {
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .header__container {
    flex-direction: column;
  }
  .header__socials {
    bottom: 7rem;
  }
  .scroll {
    bottom: 10rem;
    right: -1rem;
  }
  .header__container-left {
    gap: 0;
  }
  header {
    padding-top: 1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .me {
    position: static;
    width: 20rem;
    height: 20rem;
  }
}
@media screen and (max-width: 600px) {
  .header__container-left > h5:first-child {
    font-size: 2rem;
  }
  .scroll,
.header__socials {
    display: none;
  }
}
.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.portfolio__container .portfolio__item {
  background-color: #2c2c6c;
  padding: 1.3rem;
  border: 1px solid transparent;
  border-radius: 2rem;
  text-align: center;
  transition: all 400ms ease;
}
.portfolio__container .portfolio__item:hover {
  border-color: rgba(77, 181, 255, 0.4);
  background: transparent;
}
.portfolio__container .portfolio__item .portfolio__item-img {
  border-radius: 1.5rem;
  overflow: hidden;
}
.portfolio__container .portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}
.portfolio__container .portfolio__item .portfolio__item-cta {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.1rem;
  }
}
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 0.9rem;
  }
}
.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
}

.service {
  background: #2c2c6c;
  border-radius: 0 0 2rem 2rem;
  border: 1px solid #4db5ff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transition: all 400ms ease;
}
.service:hover {
  background-color: transparent;
  border-color: rgba(77, 181, 255, 0.4);
  cursor: default;
}
.service .service__head {
  background-color: #4db5ff;
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}
.service .service__head h3 {
  color: #1f1f38;
  font-size: 1rem;
}
.service .service__list {
  padding: 2rem;
}
.service .service__list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.service .service__list li .service__list-icon {
  color: #4db5ff;
  margin-top: 2px;
}
.service .service__list li p {
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  .services__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
#testimonials .container {
  width: 40%;
  padding-bottom: 3rem;
}
#testimonials .container .testimonial {
  text-align: center;
  background: #2c2c6c;
  padding: 2rem;
  border-radius: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#testimonials .container .testimonial .client__avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid rgba(77, 181, 255, 0.4);
}
#testimonials .container .testimonial small {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  width: 80%;
  margin: 0.8rem auto 0;
}

@media screen and (max-width: 1024px) {
  #testimonials .container {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  #testimonials .container {
    width: 90%;
  }
  #testimonials .client__review {
    width: 90%;
  }
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #4db5ff;
}

nav {
  background-color: rgba(0, 0, 0, 0.3);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 11;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.1rem;
}
nav a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.active {
  background: #4db5ff;
  color: #fff;
}

@media screen and (max-width: 800px) {
  nav {
    bottom: 0.3rem;
  }
}
@media screen and (max-width: 550px) {
  nav {
    padding: 0.4rem 1rem;
  }
  nav a {
    padding: 0.5rem;
  }
}
.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.experience__container > div {
  background: #2c2c6c;
  border: 1px solid transparent;
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  transition: all 400ms ease;
}
.experience__container > div:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
  cursor: default;
}
.experience__container > div .experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}
.experience__container > div .experience__content .experience__details {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0.4rem;
}
.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: #4db5ff;
  font-size: 1rem;
}

.experience__content-icon {
  color: #4db5ff;
}

@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .experience__container {
    width: 100%;
    padding: 2rem 1rem;
  }
  .experience__container > div {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .experience__details small {
    font-size: 0.7rem;
  }
  .experience__container > div .experience__content {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}
.services__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
}

.service {
  background: #2c2c6c;
  border-radius: 0 0 2rem 2rem;
  border: 1px solid #4db5ff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transition: all 400ms ease;
}
.service:hover {
  background-color: transparent;
  border-color: rgba(77, 181, 255, 0.4);
  cursor: default;
}
.service .service__head {
  background-color: #4db5ff;
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}
.service .service__head h3 {
  color: #1f1f38;
  font-size: 1rem;
}
.service .service__list {
  padding: 2rem;
}
.service .service__list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.service .service__list li .service__list-icon {
  color: #4db5ff;
  margin-top: 2px;
}
.service .service__list li p {
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  .services__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .services__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #1f1f38;
  color: #fff;
  line-height: 1.7;
  background-image: url(../assets/bg-texture.png);
}

.container {
  width: 75%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
  padding-top: 3rem;
}
section > h2,
section > h5 {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
}
section > h2 {
  color: #4db5ff;
  margin-bottom: 3rem;
}

.text-light {
  color: rgba(255, 255, 255, 0.6);
}

a {
  color: #4db5ff;
  transition: all 400ms ease;
}
a:hover {
  color: #fff;
}

.btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: inline-block;
  color: #4db5ff;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid #4db5ff;
  transition: all 400ms ease;
}
.btn:hover {
  background-color: #fff;
  color: #1f1f38;
  border-color: transparent;
}
.btn-primary {
  background: #4db5ff;
  color: #1f1f38;
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 86%;
  }
  section {
    margin-top: 6rem;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}/*# sourceMappingURL=main.css.map */